body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #eff3f4;
  display: flex;
  justify-content: center;
}

.app-container {
  background-color: rgb(188, 222, 236);
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}